<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InformationSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        html, body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="content1">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">О Главном</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Electronics">Электроника</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gadgets">Гаджеты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3 header1">
                @RenderBody()
            </main>
        </div>
        <h4 class="newsRightTitle">Последние новости</h4>
        <div class="body1">
            <a asp-controller="Home" asp-action="News1">
                <span class="newsRight">"Новые модели iPhone планируют выпустить без SIM-карты, сообщили СМИ"</span>
            </a>
            <a asp-controller="Home" asp-action="News2">
                <span class="newsRight">"В России рассылается срочное предупреждение владельцам iPhone"</span>
            </a>
            <a asp-controller="Home" asp-action="News3">
                <span class="newsRight">"Стала известна стоимость новых iPhone в России"</span>
            </a>
            <a asp-controller="Home" asp-action="News4">
                <span class="newsRight">"WhatsApp снял важное ограничение для iOS и Android"</span>
            </a>
            <a asp-controller="Home" asp-action="News5">
                <span class="newsRight">"Исследование: цены на IPhone в России вернулись к уровню начала февраля"</span>
            </a>
            <a asp-controller="Home" asp-action="Gadgets">
                <span class="newsRight">"Аналитик назвал цены на гаджеты, ввезенные по параллельному импорту"</span>
            </a>
            <a asp-controller="Home" asp-action="News6">
                <span class="newsRight">"Apple пойдет на непопулярные меры в новом iPhone 14"</span>
            </a>
        </div>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - InformationSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>
