@{
    ViewData["Title"] = "Electronics";
}
<h1>
    Приключения электроники: наступит ли в России дефицит гаджетов
</h1>
Мы вынуждены отталкиваться от того, что новая модель организационной деятельности позволяет оценить значение
<br>
первоочередных требований. Безусловно, убеждённость некоторых оппонентов создаёт необходимость включения
<br>
в производственный план целого ряда внеочередных мероприятий с учётом комплекса укрепления моральных ценностей.
<br>
Современные технологии достигли такого уровня, что глубокий уровень погружения, а также свежий взгляд на привычные
<br>
вещи — безусловно открывает новые горизонты для системы обучения кадров, соответствующей насущным потребностям.
<br>
<img src="~/Image/electronic.jpg" width="600" alt="Тут была картинка">
