@{
    ViewData["Title"] = "News1";
}

<h1>Новые модели iPhone планируют выпустить без SIM-карты, сообщили СМИ</h1>
Разнообразный и богатый опыт говорит нам, что сплочённость команды профессионалов требует анализа дальнейших направлений
<br>
развития. Повседневная практика показывает, что высокотехнологичная концепция общественного уклада говорит
<br>
о возможностях кластеризации усилий. Следует отметить, что дальнейшее развитие различных форм деятельности, в своём
<br>
классическом представлении, допускает внедрение распределения внутренних резервов и ресурсов. А ещё представители
<br>
современных социальных резервов превращены в посмешище, хотя само их существование приносит несомненную<br> пользу обществу!
<br>
<img src="~/Image/iPhone13Pro.jpg" width="600" alt="Тут была картинка">